[defaults]
inventory          = inventory.ini
private_key_file   = ../pfsense-key.pem
remote_user        = admin
host_key_checking  = False
timeout            = 30
collections_path   = ./collections

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
